{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}


{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Atualizar Atividade - {{activity.title}}</h1>
    </div>
    <form action="{% url 'update_activity' idProject=project.id idActivity=activity.id %}" method="POST">
        {% csrf_token %}
        
        {{form_activity | bootstrap}}

        <button class="btn btn-primary"type="submit">Salvar</button>
    </form>
    

{% endblock main %}