{% extends "base_website.html" %}
{% load static %}


{% block title_pag %}
    <ol>
        <li><a href="{% url 'page_home_website' %}">Home</a></li>
        <li>Blog</li>
    </ol>
{% endblock title_pag %}

{% block main %}
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Blog</h3>
            <p>Postagens mais recentes do nosso blog.</p>
        </header>

        <div class="row">
            {% for post in objects %}
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="row ">
                        <div class="col-12">
                            <h4 class="title mb-4"><a href="{% url 'post' idPost=post.id %}">{{post.title}}</a></h4>
                            <p>{{post.subTitle |slice:":60"}}</p>
                        </div>
                        <div class="col-12">
                            <p class="description text-justify">{{ post.body|slice:":200"|safe }}...</p>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-primary position-relative" href="{% url 'post' idPost=post.id %}">Ler mais</a>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div> 
            {% endfor %}
        </div>
            <div class="row">
                {% if objects.has_previous %}
                    <a href="?page={{ objects.previous_page_number }}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Mais Recentes</a>
                {% endif %}

                {% if objects.has_next %}
                    <a href="?page={{ objects.next_page_number }}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pull-right">Mais Antigos</a>
                {% endif %}
            </div>
    </div>

</section><!-- End Services Section -->

{% endblock main %}