{% extends "base_website.html" %}
{% load static %}


{% block title_pag %}
    <ol>
        <li><a href="{% url 'page_home_website' %}">Home</a></li>
    </ol>
{% endblock title_pag %}
    
{% block main %}

        <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2 class="text-center mb-5">Sobre Nós</h2>
              <h3></h3>
              <p class="text-justify" style="text-indent: 4ch;">
                Nas últimas duas décadas o Brasil apresentou um forte e consistente crescimento 
                na produção científica, consequência direta de sua exitosa política de pós-graduação e de uma visão por parte da sociedade da 
                importância da ciência e tecnologia. Por outro lado, esse crescimento não veio acompanhado de uma melhoria substancial em 
                outras questões chaves para o desenvolvimento do país como, por exemplo, o ensino de ciências e o número de patentes depositadas 
                por brasileiros. Fica cada vez mais claro que educação, ciência e inovação são pilares necessários para a melhoria das condições 
                de vida da população.</p>
              <p class="text-justify" style="text-indent: 4ch;">
                O PET CRIATIVAÇÃO tem como eixo central o uso de uma cultura inovadora na melhoria 
                das condições de vida e sustentabilidade econômica da população do agreste meridional de Pernambuco. Sua concepção parte do princípio 
                que uma cultura inovadora é chave para a melhoria nas condições de vida dessas populações.</p>
              <p class="text-justify" style="text-indent: 4ch;">
                Apesar do discurso da inovação geralmente se referir a indústria, consideramos que inovar deve fazer parte do fazer contidiano das pessoas, 
                e a educação tem papel chave nessa mudança imbuindo na estrutura cognitiva do educando, juntamente com o conhecimento, uma busca incessante pelo novo. Apesar da academia 
                ter como objetivo a produção e difusão do conhecimento, é cada vez mais necessário que, em conformidade com a contemporaneidade, ela 
                desenvolva uma cultura inovadora e que incentive essa cultura nos seus estudantes. O grupo PET CRIATIVAÇÃO pretende ser uma ferramenta e 
                instrumento de estimular a inovação em todo o âmbito acadêmico da UFAPE. Vários índices internacionais apontam que um dos mais graves entraves 
                ao crescimento sustentável do Brasil é a manutenção de uma cultura pouco inovadora, fruto de uma herança escravagista-extrativista com sérios 
                problemas na educação. Segundo um estudo da Organização Mundial da Propriedade Intelectual, o Brasil ocupa a 58ª posição entre 144 países 
                analisados em aspectos relativos à inovação, segundo esse documento, o Brasil terá sérios problemas para retomar o crescimento caso não mude 
                essa situação. </p>
                
                <p class="text-justify" style="text-indent: 4ch;">A cultura inovadora deve começar em sala de aula, assim nas atividades relacionadas abaixo os petianos são incentivados tanto a 
                buscar formas inovadoras no seu cotidiano escolar, incluindo um uso mais abrangente das tecnologias da informação, quanto a entender formas 
                inovadoras de lecionar sob a ótica da pedagogia da inovação. Por outro lado, o grupo irá conduzir pesquisas que envolvam a compreensão do que é 
                inovar em seus cursos específicos, tomando como foco a inovação tecnológica. Assim, os petianos deverão levar a população, através de atividades 
                de extensão, a prática que desenvolveram em sala de aula com os resultados das suas pesquisas, integrando assim os três pilares básicos 
                da universidade.</p>

                <p class="text-right">Alberto E. P. Araujo</p>

            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->
        <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Últimos Posts</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-12">

            <div class="owl-carousel testimonials-carousel">
              {% for post in posts %}
              <div class="testimonial-item">
                <h3><a href="{% url 'post' idPost=post.id %}" >{{post.title}}</a></h3>
                <h4>{{post.subTitle}}</h4>
                <p class="text-justify">
                  {{post.body|slice:":400"}}
                </p>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

        <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Perguntas Frequentes</h3>
          <p></p>
        </header>

        <ul id="faq-list" data-aos="fade-up" data-aos-delay="100">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">O que é o Programa de Educação Tutorial - PET? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p class="text-justify">
                Idealizado pelo Prof. Carlos de Moura Paiva, o Programa Especial de Treinamento (PET) 
                foi criado em 1979 pela Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (CAPES), 
                tendo como primeiros grupos do país: Economia – UnB, Economia- PUC/RJ e Direito – USP/Capital. 
                No final de 1999, o programa foi transferido para a Secretaria de Educação Superior do Ministério 
                da Educação (SeSu/MEC) e se tornou responsabilidade do Departamento de Modernização e Programas da 
                Educação Superior (DEPEM). Em 2005 a sigla PET passou a significar Programa de Educação Tutorial, se 
                mantendo assim até os dias atuais, regulamentado pelas Leis N° 11.180/2005 e N° 1.632/2006.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed"> Como é composto um grupo PET? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p class="text-justify">
                O PET é composto por um tutor, e até 16 estudantes de graduação (12 bolsistas e 4 voluntários). 
                O tutor é o docente responsável por estimular a aprendizagem ativa, dos estudantes, comumente 
                chamados de PETianos e PETianas, através de vivências, reflexões e discussões em um clima de 
                informalidade e cooperação. Os estudantes por sua vez devem dedicar no mínimo 20 horas semanais 
                às atividades do Programa seja como bolsista ou como voluntário, além de manter um bom desempenho 
                acadêmico.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Quantos grupos PET existem no Brasil? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p class="text-justify">
                Atualmente, 842 grupos PET estão distribuídos por todo o Brasil. Na Universidade Federal do Agreste 
                de Pernambuco (UFAPE) em Garanhuns especificamente, nós temos 3 grupos PET,  são esses: PET Conexões de 
                Saberes, Comunidades Populares e Quilombolas, o PET Biotecnologia e o nosso PET Criativação.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed"> Qual o objetivo do PET?<i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p class="text-justify">
               O Programa de Educação Tutorial tem o objetivo de promover a formação ampla e de qualidade acadêmica aos 
               estudantes envolvidos direta ou indiretamente com o programa. O PET possibilita aos estudantes participantes 
               do programa uma vivência diferenciada durante a passagem pela academia. Essa vivência vai das trocas de 
               conhecimentos com estudantes de outras instituições nos encontros Regionais e Nacionais,  realização de 
               atividades extracurriculares direcionadas aos demais estudantes da graduação e até mesmo a melhoria dos 
               cursos da Instituição em que o grupo PET está. Dessa forma, quem não faz parte do programa se beneficia 
               por ter acesso às atividades desenvolvidas, e os membros do PET se beneficiam por terem a oportunidade de 
               desenvolverem ainda mais sua formação acadêmica, pessoal e social.


              </p>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Como fazer para entrar em algum grupo PET? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p class="text-justify">
                Para se tornar um PETiano (a) é necessário passar por um Processo Seletivo, baseado em um edital 
                já aprovado pela Secretaria de Educação Superior do Ministério da Educação (SeSu/MEC). Nessa seleção 
                geralmente ocorre uma Prova escrita, uma Dinâmica em grupo e uma Entrevista, os critérios de aprovação 
                irão variar de grupo para grupo, mas todos eles são disponibilizados no edital de seleção que você como 
                candidato também terá acesso para que possa se preparar melhor para o processo seletivo.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->


{% endblock main %} 