{% extends "base_website.html" %}
{% load static %}


{% block title_pag %}
    <ol>
        <li><a href="{% url 'page_home_website' %}">Home</a></li>
    </ol>
{% endblock title_pag %}
    
{% block main %}

        <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2 class="text-center mb-5">Sobre Nós</h2>
              <h3></h3>
              <p class="text-justify" style="text-indent: 4ch;">
                Nas últimas duas décadas o Brasil apresentou um forte e consistente crescimento 
                na produção científica, consequência direta de sua exitosa política de pós-graduação e de uma visão por parte da sociedade da 
                importância da ciência e tecnologia. Por outro lado, esse crescimento não veio acompanhado de uma melhoria substancial em 
                outras questões chaves para o desenvolvimento do país como, por exemplo, o ensino de ciências e o número de patentes depositadas 
                por brasileiros. Fica cada vez mais claro que educação, ciência e inovação são pilares necessários para a melhoria das condições 
                de vida da população.</p>
              <p class="text-justify" style="text-indent: 4ch;">
                O PET CRIATIVAÇÃO tem como eixo central o uso de uma cultura inovadora na melhoria 
                das condições de vida e sustentabilidade econômica da população do agreste meridional de Pernambuco. Sua concepção parte do princípio 
                que uma cultura inovadora é chave para a melhoria nas condições de vida dessas populações.</p>
              <p class="text-justify" style="text-indent: 4ch;">
                Apesar do discurso da inovação geralmente se referir a indústria, consideramos que inovar deve fazer parte do fazer contidiano das pessoas, 
                e a educação tem papel chave nessa mudança imbuindo na estrutura cognitiva do educando, juntamente com o conhecimento, uma busca incessante pelo novo. Apesar da academia 
                ter como objetivo a produção e difusão do conhecimento, é cada vez mais necessário que, em conformidade com a contemporaneidade, ela 
                desenvolva uma cultura inovadora e que incentive essa cultura nos seus estudantes. O grupo PET CRIATIVAÇÃO pretende ser uma ferramenta e 
                instrumento de estimular a inovação em todo o âmbito acadêmico da UFAPE. Vários índices internacionais apontam que um dos mais graves entraves 
                ao crescimento sustentável do Brasil é a manutenção de uma cultura pouco inovadora, fruto de uma herança escravagista-extrativista com sérios 
                problemas na educação. Segundo um estudo da Organização Mundial da Propriedade Intelectual, o Brasil ocupa a 58ª posição entre 144 países 
                analisados em aspectos relativos à inovação, segundo esse documento, o Brasil terá sérios problemas para retomar o crescimento caso não mude 
                essa situação. </p>
                
                <p class="text-justify" style="text-indent: 4ch;">A cultura inovadora deve começar em sala de aula, assim nas atividades relacionadas abaixo os petianos são incentivados tanto a 
                buscar formas inovadoras no seu cotidiano escolar, incluindo um uso mais abrangente das tecnologias da informação, quanto a entender formas 
                inovadoras de lecionar sob a ótica da pedagogia da inovação. Por outro lado, o grupo irá conduzir pesquisas que envolvam a compreensão do que é 
                inovar em seus cursos específicos, tomando como foco a inovação tecnológica. Assim, os petianos deverão levar a população, através de atividades 
                de extensão, a prática que desenvolveram em sala de aula com os resultados das suas pesquisas, integrando assim os três pilares básicos 
                da universidade.</p>

                <p class="text-right">Alberto E. P. Araujo</p>

            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->
        <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Últimos Posts</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-12">

            <div class="owl-carousel testimonials-carousel">
              {% for post in posts %}
              <div class="testimonial-item">
                <h3><a href="{% url 'post' idPost=post.id %}" >{{post.title}}</a></h3>
                <h4>{{post.subTitle}}</h4>
                <p>
                  {{post.body|slice:":200"}}
                </p>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

        <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Perguntas Frequentes</h3>
          <p></p>
        </header>

        <ul id="faq-list" data-aos="fade-up" data-aos-delay="100">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->


{% endblock main %} 