{% extends "base_website.html" %}

{% block title_pag %}
    <ol>
        <li><a href="{% url 'page_home_website' %}">Home</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li>{{post.title}}</li>
    </ol>

{% endblock title_pag %}

{% block main %}
<section id="why-us" class="why-us">
  <div class="container-fluid" data-aos="fade-up">

    <header class="section-header">
      <h3>{{post.title}}</h3>
      <p>{{post.subTitle}}</p>
    </header>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="why-us-content">
          <p class="text-justify">
            {{post.body|safe}}
          </p>

        </div>

      </div>
      <div class="col-1"></div>

    </div>

  </div>
</section><!-- End Why Us Section -->
{% endblock main %}