{% extends "base_website.html" %}
{% load static %}

{% block title_pag %}
<ol>
    <li><a href="{% url 'page_home_website' %}">Home</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li>{{projectPage.title}}</li>
</ol>

{% endblock title_pag %}


{% block main %}
<section id="services" class="services section-bg">
    <div class="container">

        <header class="section-header">
            <h3>{{projectPage.title}}</h3>
            <p></p>
        </header>

        <div class="row">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="row ">
                        <div class="col-12">
                            <h4 class="title mb-4">Introdução</h4>

                        </div>
                        <div class="description">
                            <p>{{projectPage.introduction |safe}}</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="row ">
                        <div class="col-12">
                            <h4 class="title mb-4"> Justificativa</h4>

                        </div>
                        <div class="description">
                            <p>{{projectPage.justification|safe}}</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="row ">
                        <div class="col-12">
                            <h4 class="title mb-4">Objetivos</h4>

                        </div>
                        <div class="description">
                            <p>{{projectPage.objective |safe}}</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="row ">
                        <div class="col-12">
                            <h4 class="title mb-4">Metodologia</h4>

                        </div>
                        <div class="description">
                            <p>{{projectPage.methodology|safe}}</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="row ">
                        <div class="col-12">
                            <h4 class="title mb-4">Referencias</h4>

                        </div>
                        <div class="description">
                            <p>{{projectPage.reference|safe}}</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="row ">
                        <div class="col-12">
                            <h4 class="title mb-4">Outras Informações</h4>

                        </div>
                        <div class="description">
                            <p>Criadores:
                                {%for creator in projectPage.creators.all%}
                                    {{creator.user.username}},&nbsp
                                {%endfor%}
                                <br>
                                Status: {{projectPage.status}}
                                <br>
                               Criado em {{projectPage.createDate}}</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section><!-- End Services Section -->

{% endblock main %}