{% extends "base.html" %}

{% block main %}

<div class="card shadow mb-4">
    <div class="card-body">
        <form action="{% url 'delete_project' id=post.id%}" method="POST">
            {% csrf_token %}
            <p>Deseja deletar o post: {{post.title}}<p>

            <a class="btn btn-primary float-right ml-2" href="{% url 'list_post' %}">Voltar</a>
            <button class="btn btn-danger float-right"type="submit">Excluir</button>
        </form>
    </div>
</div>

{% endblock main %}