{% extends 'list_admin.html' %}
{% load static %}

{% block title_list %}
    <h1 class="h3 mb-0 text-gray-800">Posts</h1>
{% endblock title_list %}

{% block button_new_object %}
    <a class="btn btn-primary" href="{%url 'new_post'%}">Novo Post</a>
{% endblock button_new_object %}

{% block card_body %}
    <div class="col-12">
        <!-- Dropdown Card Example -->
        {% for post in objects %}
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{post.title}}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Opções</div>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'update_post' idPost=post.id %}">Atualizar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'detail_post' idPost=post.id %}">Detalhes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'delete_post' idPost=post.id %}">Deletar</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div>
                        <h6 class="font-weight-bold text-primary text-center mb-3">{{post.subTitle}}</h6>
                        
                        <p class="text-justify">{{post.body|slice:":600"}}</p>
                    </div>
                    <div class="mt-4 float-right">
                        <a class="btn btn-primary" href="{% url 'detail_post' idPost=post.id %}">Detalhes</a>
                    </div>
                </div>

                <div class="card-footer">
                    <p>Criador por: {{post.creator}}<p>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock card_body %}
