{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Lista de Projetos</h1>
        <a class="btn btn-primary" href="{%url 'new_project'%}">Novo Projeto</a>
    </div>

    <div class="col-12">
        <!-- Dropdown Card Example -->
        {% for project in projects%}
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{project.title}}</h6>
                        <a class="btn btn-primary" href="{% url 'list_activity' idProject=project.id %}">Atividades</a>
                              
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Opções</div>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'update_project' id=project.id %}">Atualizar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'list_cronogram' idProject=project.id %}">Cronograma</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'detail_project' id=project.id %}">Detalhes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'delete_project' id=project.id %}">Deletar</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {{project.introduction}}
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-xg-2"><p>Criadores:<p></div>
                        <div class="col-10">
                            {%for creator in project.creators.all %}
                                {{creator}}
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>

{% endblock main %}