{% extends "show.html" %}

{% block title_show %}
    <h1 class="h3 mb-0 text-gray-800">{{project.title}}</h1>
{% endblock title_show %}

{% block card_body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Introdução</h6>
        </div>
        <div class="card-body">
        {{project.introduction}}
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Justificativa</h6>
        </div>
        <div class="card-body">
        {{project.justification}}
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Objetivos</h6>
        </div>
        <div class="card-body">
        {{project.objective}}
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Metodologia</h6>
        </div>
        <div class="card-body">
        {{project.methodology}}
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Referencias</h6>
        </div>
        <div class="card-body">
        {{project.reference}}
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Outras Informações</h6>
        </div>
        <div class="card-body">
            <p>Criadores:
                {%for creator in project.creators.all%}
                    {{creator.user.username}},&nbsp
                {%endfor%}            
            </p>
            <p>Status: {{project.status}}</p>
            <p class='float-right'>Criado em {{project.createDate}}</p>

        </div>
    </div>     
{% endblock card_body %}
    
{% block button_back %}
    <a class="btn btn-primary float-right" href="{% url 'list_project'%}" type="submit">Voltar</a>
{% endblock button_back %}
