{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cronograma</h1>
        <a class="btn btn-primary" href="{%url 'new_cronogram' idProject=project.id%}">Novo Cronograma</a>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{project.title}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Inicio</th>
                            <th>Fim</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Titulo</th>
                            <th>Inicio</th>
                            <th>Fim</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {%for cronogram in cronograms %}
                            <tr>
                                <td>{{cronogram.title}}</td>
                                <td>{{cronogram.initDate}}</td>
                                <td>{{cronogram.endDate}}</td>
                                <td class='text-center'><a class="btn btn-warning" href="{% url 'update_cronogram' idProject=project.id idCronogram=cronogram.id%}">Atualizar</a></td>
                                <td class='text-center'><a class="btn btn-danger" href="{% url 'delete_cronogram' idProject=project.id idCronogram=cronogram.id%}">Deletar</a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock main %}