{% extends "base.html" %}

{% block main %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Deletar Categoria - {{category.name}}</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <form action="{% url 'delete_category' idCategory=category.id %}" method="POST">
            {% csrf_token %}
            <p>Deseja deletar o post: {{category.name}}<p>

            <button class="btn btn-danger"type="submit">Excluir</button>
        </form>
    </div>
</div>

{% endblock main %}