{% extends 'list_admin.html' %}
{% load static %}


{% block title_list %}
    <h1 class="h3 mb-0 text-gray-800">Categoria Post</h1>
{% endblock title_list %}

{% block button_new_object %}
    <a class="btn btn-primary" href="{%url 'new_category' %}">Nova Cateogira</a>
{% endblock button_new_object %}

{% block card_body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cursos</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Cursos</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {%for category in objects %}
                            <tr>
                                <td>{{category.name}}</td>
                                <td>
                                    {%for curse in category.course.all %}
                                        {{curse}}
                                    {%endfor%}
                                </td>
                                <td class='text-center'><a class="btn btn-warning" href="{% url 'update_category' idCategory=category.id %}">Atualizar</a></td>
                                <td class='text-center'><a class="btn btn-danger" href="{% url 'delete_category' idCategory=category.id %}">Deletar</a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock card_body %}

{% block js %}
     <script src="{% static 'sbadmin/js/action.js'%}"></script>
{% endblock js %}